/* Navbar */
.navbar {
    background: white;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #5B2245;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Container to align navbar content */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Logo */
.logo img {
    width: 80px;
    height: 80px;
    border-radius: 15%;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    color: #5B2245; /* Purple text */
    transition: color 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
    color: black;
}

/* Social Icons */
.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    background: #5B2245; /* Purple Background */
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.1);
}
/* sections */
section {
    margin-top: 120px;
    font-size: 40px;
    justify-content: center;
}